<?xml version="1.0"?>
<configuration>
  <properties>
    <smtpHost>localhost</smtpHost>
    <!-- required-->
    <smtpPort></smtpPort>
    <smtpUsername></smtpUsername>
    <smtpPassword></smtpPassword>
    <emailEncoding></emailEncoding>
    <!-- iso-8859-1, utf-8, us-ascii, etc.  -->
    <tempDir></tempDir>
  </properties>
  <components>
    <component
      id="FX.Utils.emailservice"
      service="FX.Utils.EmailService.IEmailService, FX.Utils"
      type="FX.Utils.EmailService.DefaultEmailService, FX.Utils">
      <parameters>
        <TemplateDir>EmailTemplates</TemplateDir>
      </parameters>
    </component>
    <component
			id="FX.Utils.emailsender"
			service="FX.Utils.EmailService.IEmailSender, FX.Utils"
			type="FX.Utils.EmailService.SmtpNet2EmailSender, FX.Utils">
      <!--<parameters>
        <host>smtp.gmail.com</host>
        <port>587</port>
        <EnableSsl>true</EnableSsl>
        <smtpUsername>d12congiap@gmail.com</smtpUsername>
        <smtpPassword>1521982</smtpPassword>
		    <emailEncoding>UTF-8</emailEncoding>
      </parameters>-->
      <!-- optional properties
				<emailEncoding>#{emailEncoding}</emailEncoding>
				-->
      <parameters>
        <host>123.30.179.233</host>
        <port>25</port>
        <EnableSsl>false</EnableSsl>
        <smtpUsername>vnpt-tax@vnpt-ca.vn</smtpUsername>
        <smtpPassword>taX237@23</smtpPassword>
        <emailEncoding>UTF-8</emailEncoding>
      </parameters>
    </component>
    <component
			id="FX.Utils.emailtemplateengine"
			service="FX.Utils.EmailService.IEmailTemplateEngine, FX.Utils"
			type="FX.Utils.EmailService.SimpleEmailTemplateEngine, FX.Utils">
    </component>


    <!--Accounting Service-->
    <component
    id="IOptionTVANService" service="Accounting.Core.IService.IOptionTVANService,Accounting.Core"
    type="Accounting.Core.ServiceImp.OptionTVANService,Accounting.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
   id="IDepartmentService" service="Accounting.Core.IService.IDepartmentService,Accounting.Core"
   type="Accounting.Core.ServiceImp.DepartmentService,Accounting.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

  </components>
</configuration>
